<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!------ Section -1 --------->
    <section>
        <form action="/login" method="post">
        <div id="div1">
            <h1 id="h1" >Chatter</h1>
            <!------ username ------->
            <div id=>
                <input type="text" name="username" id="user" placeholder="phone number, username, Or email">
            </div>
            <!----- passwoord ----->
            <div id=>
                <input type="password" name="password" placeholder="password" id="pass">
            </div>
            <!----button---->
            <div>
            <button id="bttn" type="submit">Log in</button>
            </div>
            <div id="a1">
            <a href="">Forget password?</a>
            </div>
        </div>
        </form>
        <div id="div2">
            <p>Don't have an account?<a href="">Sign up</a></p>
        </div>
    </section>
</body>
</html>